@model IEnumerable<ProductServiceModel>

@{
	ViewBag.Title = "View My Shopping List";
	int count = 0;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-success table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>			
				
			<th scope="col">Price</th>
			<th scope="col">Actions</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			count++;
			<tr>
				<th scope="row">@count</th>
				<td>@product.Name</td>				
					
				<td>@product.Price</td>

				<td>
					<a asp-area="" asp-action="Details" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
					<a asp-area="" asp-action="RemoveProductFromCollection" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-success">Remove</a>
					<a asp-area="" asp-action="Buy" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-success">Buy</a>
					
				</td>
			</tr>
		}

	</tbody>
</table>
