@model IEnumerable<ProductServiceModel>

@{
	ViewBag.Title = "View My Shopping List";
	int count = 0;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-success table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>

			<th scope="col">Price</th>
			<th scope="col">Actions</th>
			<th scope="col">Mark</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
		{
			count++;

			<tr>
				<th scope="row">@count</th>
				<td>@product.Name</td>				
				<td>@String.Format("{0:f2}", product.Price)</td>

				@if (!product.IsSold)
				{
					<td>
						<a asp-area="" asp-action="Details" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-primary">Details</a>						
						<a asp-area="" asp-action="RemoveProductFromCollection" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-danger">Remove</a>
					</td>

					<td>
						<form class="ml-2" asp-controller="Product"
					  asp-action="MarkSold" asp-route-id="@product.Id" method="post">
							<input class="btn btn-success" type="submit" value="Buy" />
						</form>
					</td>
				}
				else
				{
					<td>
						<a asp-area="" asp-action="Details" asp-controller="Product" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
					</td>
					<td>
						<p>
							This product is sold!
						</p>
					</td>

				}

			</tr>
		}

	</tbody>
</table>
